@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zilla+Slab:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Satisfy&family=Zilla+Slab:ital,wght@1,300&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Satisfy', cursive;
}
*{
    margin: 0;
    padding: 0;
}

header {
    
    background-color: black;
    color: white;
 
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    font-family: var(--font2);
    font-size: 32px;
 
   

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline white;
}
main{
    border: 1px solid black;
    

}
section{
    font-family: var(--font3);
    padding: 30px;
    font-size: 20px;
}
section.imagem{
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.8);
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    border-radius: 10px;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font2);
}
