@font-face {
    font-family: 'Open Sans';
    src: url('../fontes/idroid.otf') format('truetype');
  }
 
body{
    background-color: #84E1AD;
    margin: 0%;

}
header{
    background-image: linear-gradient(to bottom, #37C677, #1A5C38);
padding: 10px;


}
header > h1{
    text-align: center;
    color: white;
}
header > p{
    text-align: center;
    color: white;
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
}
nav > a:hover{
    opacity: .5;
    background-color: #37C677;
    border-radius: 2px;
}
main{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 20px;
}
main > h1{
    font-family: open Sans, Helvetica, sans-serif;
    color: #1A5C38 ;
}
main > h2{
    font-family: open Sans, Helvetica, sans-serif;
    color: #1A5C38 ;
    background-image: linear-gradient(to right, #37c67763, white);
}
main > p {
    text-indent: 1.25cm;
    text-align: justify;
}
footer{
    background-color: #1A5C38 ;
    text-align: center;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
}
.imagem1{
    display: block;
    margin: auto;
}
.imagem2{
    display: block;
    margin: auto;
}
strong {
    color: #1A5C38;
}
iframe{
    width: 700px;
    height: 350px;
    display: block;
    margin: auto;
}
.quadro{
    background-color: #37c67759;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
}
.quadro > div {
    display: inline-block;
    
}
div#lista2{
    margin-left: 100px;
}
.quadrovideo{
    background-color:#1A5C38 ;
    padding: 20px;
}
.listas{
    list-style-type: none;
}
.listas::before{
    content: '✔ ';
}
.quadro > p {
    text-indent: 1.25cm;
    text-align: justify;
}
.quadro > h3 {
    color: white;
    background-color: #2FA866;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
}